# See github.com/gitignore for more files 

# Temporary files#
##################

*.swp
*.~*
*.*~

# C files #
###########
*.o
*.out

# These are LaTeX files#
########################
*.aux
*.log
*.lof
*.lot
*.gz
*.toc

# Assorted files #
##################
# git recommends adding straight source code
# as there are built in compressions
*.gz
*.tar
*.zip
